{% extends 'emails/email.html.twig' %}

{% block title %}
    Отчёт об оплаченных курсах за период {{ start|date('d.m.Y') }} - {{ end|date('d.m.Y') }}
{% endblock %}

{% block body %}
    <table cellspacing="0" cellpadding="8" border="1" style="width: 100%;">
        <thead>
        <tr>
            <th>Название курса</th>
            <th>Тип курса</th>
            <th>Число аренд/покупок</th>
            <th>Общая сумма</th>
        </tr>
        </thead>
        <tbody>
        {% for course in courses %}
            <tr>
                <td>{{ course.courseTitle }}</td>
                <td>{{ course.courseType }}</td>
                <td>{{ course.paymentsCount }}</td>
                <td>{{ course.totalAmount|number_format(2, '.', ' ') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Оплат не найдено.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p>
        <strong>Итого: {{ totalAmount|number_format(2, '.', ' ') }}</strong>
    </p>
{% endblock %}
